# Credentials supabase untuk postgres
SUPABASE_HOST=<YOUR_SUPABASE_HOST>
SUPABASE_PORT=<YOUR_SUPABASE_PORT>
SUPABASE_DB=<YOUR_SUPABASE_DB>
SUPABASE_USER=<YOUR_SUPABASE_USER>
SUPABASE_PASSWORD=<YOUR_SUPABASE_PASSWORD>